.auth-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.auth-container__title {
    margin-top: 50px;
    margin-bottom: 50px;
}

.auth-container__inner {
    width: 45%;
    text-align: center;
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-form__label {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.auth-form__input {
    height: 50px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 20px;
}

.error-message {
    height: 50px;
    display: flex;
    align-items: center;
    text-align: start;
    font-size: 20px;
    color: #ff5555;
}

.auth-button {
    height: 55px;
    background-color: #ff5555;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin-top: 50px;
    margin-bottom: 20px;
    cursor: pointer;
}

.auth-link {
    font-size: 20px;
    text-decoration: none;
}