body {
    margin: 0;
    font-size: 20px;
}

header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 30px;
    background-color: black;
}

.header-logo {
    width: 25%;
    display: block;
}

.header-logo__image {
    width: 100%;
    height: auto;
    display: block;
}

.search-form {
    width: 33%;
    height: 100%;
}

.search-form__input {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 23px;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 35px;
}

.header-nav {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-nav__link {
    text-decoration: none;
    color: white;
    font-size: 23px;
}

.logout-button {
    background: none;
    border: none;
    color: white;
    font-size: 23px;
    cursor: pointer;
}

.header-nav__button {
    height: 100%;
    background-color: white;
    color: black;
    padding: 1px 20px 1px 20px;
    font-size: 23px;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 1200px) {
    header {
        padding: 5px 10px 5px 15px;
    }

    .header-logo {
        width: 20%;
    }

    .search-form {
        width: 40%;
        height: 80%;
    }

    .header-nav {
        width: 35%;
    }

    .header-nav__link,
    .logout-button,
    .header-nav__button {
        font-size: 18px;
        padding: 2px 10px;
    }

    .search-form__input {
        font-size: 18px;
        padding-left: 25px;
    }
}