.item-brand {
    margin: 0;
}

.main-container {
    display: flex;
    padding-top: 4%;
}

.left-container {
    width: 50%;
    padding-top: 4%;
    text-align: center;
    /* border: 1px solid red; */
}

.right-container {
    width: 50%;
    padding: 0 10% 5% 3%;
    /* border: 1px solid black; */
}

.item-image {
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.item-name {
    margin-bottom: 0em;
}

.item-price {
    font-size: 35px;
}

.icon-container {
    display: flex;
}

.favorite {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    margin-left: 40px;
}

.favorite-icon {
    background-color: white;
    border: none;
}

.fa-star {
    cursor: pointer;
}

.comment {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    margin-left: 40px;
}

.purchase-form {
    margin-top: 20px;
}

.submit-button {
    width: 100%;
    padding: 6px 0 6px 0;
    background-color: #ff5555;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.item-description {
    white-space: pre-wrap;
}

.item-info {
    display: flex;
    align-items: center;
}

.item-info__title {
    width: 35%;
}

.item-info__inner {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
}

.item-category__wrap {
    padding: 0 10px;
    text-align: center;
    margin: 0 5% 2% 0;
    background-color: #d9d9d9;
    border-radius: 20px;
    border: none;
}

.item-condition__wrap {
    padding: 0 10px;
    text-align: center;
}

.comment-header {
    color: #5f5f5f;
}

.comment-user {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-icon__wrap {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #5f5f5f;
}

.user-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

.user-name {
    padding-left: 20px;
    font-weight: bold;
}

.comment-content {
    background-color: #d9d9d9;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 20px 0 20px 20px;
    margin-bottom: 20px;
}

.item-comment-header {
    margin-top: 1.4em;
    margin-bottom: 0em;
}

.comment-form__input {
    width: 100%;
    border: 2px solid #737373;
    border-radius: 5px;
    font-size: 20px;
}

.error-area {
    height: 40px;
}

.error-message {
    color: red;
}

.disabled-button {
    background-color: #ccc;
    border-color: #ccc;
    cursor: not-allowed;
    opacity: 0.6;
}