.purchase-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 6%;
    padding: 6% 6%;
}

.purchase-left {
    flex: 2;
}

.item-info {
    display: flex;
    align-items: start;
    gap: 40px;
    margin-bottom: 40px;
}

.item-image {
    width: 180px;
    height: 180px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-detail {
    display: flex;
    flex-direction: column;
}

.item-name {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.item-price {
    font-size: 30px;
}

.payment-method,
.shipping-address {
    margin: 30px ;
}

.shipping-address-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.shipping-address-data {
    margin-left: 60px;
    font-weight: bold;
}

.payment-method-header,
.shipping-address-header {
    margin-bottom: 10px;
    font-weight: bold;
}

.payment-method-select {
    margin: 30px 0px 20px 60px;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    border: 1.5px solid black;
}

.change-address {
    color: #007bff;
    text-decoration: none;
}

.purchase-right {
    flex: 1;
}

.summary-box {
    border: 1px solid #333;
    margin-bottom: 60px;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    border-bottom: 1px solid #333;
}

.summary-row:last-child {
    border-bottom: none;
}

.summary-row-price,
.summary-row-select {
    font-size: 25px;
}

.purchase-button {
    display: block;
    width: 100%;
    padding: 12px 0;
    background-color: #ff5555;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
}

.purchase-button:hover {
    background-color: #d94a4a;
}

/* --- スマホ対応 --- */
@media (max-width: 768px) {
    .purchase-container {
        flex-direction: column;
    }

    .purchase-right {
        width: 100%;
    }
}