.sell-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.sell-container__title {
    margin-top: 50px;
    margin-bottom: 50px;
}

.sell-container__inner {
    width: 45%;
    text-align: center;
}

.sell-form {
    display: flex;
    flex-direction: column;
}

.sell-form__label {
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sell-form__input {
    height: 50px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 20px;
}

.error-message {
    height: 50px;
    display: flex;
    align-items: center;
    text-align: start;
    font-size: 20px;
    color: #ff5555;
}

.sell-button {
    height: 55px;
    background-color: #ff5555;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin-top: 50px;
    margin-bottom: 20px;
    cursor: pointer;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
    padding-left: 10px;
}

.category-button {
    padding: 5px 16px;
    border: 2px solid #ff5755;
    border-radius: 20px;
    background-color: white;
    color: #ff5755;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.category-button.selected {
    background-color: #ff5755;
    color: white;
    border-color: #ff5755;
}

.sell-info {
    text-align: start;
    margin: 20px 0;
}

h2 {
    color: #5f5f5f;
    margin: 0;
}

.sell-form-image {
    border: 1px dashed black;
    border-radius: 8px;
    min-height: 150px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.select-image {
    display: none;
}

.item-image {
    width: 200px;
    height: 200px;
    display: none;
}

.custom-file-button {
    background-color: white;
    color: #ff5555;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 10px;
    border: 2px solid #ff5555;
    cursor: pointer;
    display: inline-block;
}

.custom-file-button:hover {
    background-color: #ff5555;
    color: white;
}

.sell-form__textarea {
    width: 100%;
    border: 2px solid #737373;
    border-radius: 5px;
    font-size: 20px;
}